<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>admin user</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:20:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.addclick()[pri:5, instance:checklist.gm@7a187f14]">addclick</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:14:48</td>   <td>-329728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.adminc()[pri:1, instance:checklist.gm@7a187f14]">adminc</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:29</td>   <td>-349470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="plantbase.alogin(java.lang.String, java.lang.String)[pri:0, instance:planttests.plantbase@704a52ec]">alogin</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:48</td>   <td>-330227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="plantbase.automaticsceenschot()[pri:0, instance:planttests.plantbase@704a52ec]">automaticsceenschot</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:48</td>   <td>-330198</td> <td>&nbsp;</td><td title="&lt;&lt;plantbase.endReport()[pri:0, instance:planttests.plantbase@704a52ec]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:12</td>   <td>-366515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;plantbase.launchapp()[pri:0, instance:planttests.plantbase@704a52ec]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:48</td>   <td>-330227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;plantbase.launchapp()[pri:0, instance:planttests.plantbase@704a52ec]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:14:49</td>   <td>-329524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.rev1(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:checklist.gm@7a187f14]">rev1</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:20:18</td>   <td>-124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.rev1(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:checklist.gm@7a187f14]">rev1</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:20:18</td>   <td>-100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.rev1(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:checklist.gm@7a187f14]">rev1</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:20:18</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="gm.rev2(java.lang.String, java.lang.String)[pri:4, instance:checklist.gm@7a187f14]">rev2</td> 
  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:11</td>   <td>-367370</td> <td>&nbsp;</td><td title="&gt;&gt;plantbase.setExtent()[pri:0, instance:planttests.plantbase@704a52ec]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:14:48</td>   <td>-329728</td> <td>&nbsp;</td><td title="&gt;&gt;gm.setExtent()[pri:0, instance:checklist.gm@7a187f14]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:48</td>   <td>-330238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;plantbase.tearDown(org.testng.ITestResult)[pri:0, instance:planttests.plantbase@704a52ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 16:14:48</td>   <td>-330201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;plantbase.tearDown(org.testng.ITestResult)[pri:0, instance:planttests.plantbase@704a52ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:14:48</td>   <td>-329728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;gm.tearDown(org.testng.ITestResult)[pri:0, instance:checklist.gm@7a187f14]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>21/01/30 16:20:06</td>   <td>-12349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;gm.tearDown(org.testng.ITestResult)[pri:0, instance:checklist.gm@7a187f14]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2072442976</td>   <td></td> </tr>
</table>
