<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5fe93">  <td>21/01/30 12:21:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sss.testMethod(java.lang.String)[pri:0, instance:pages.sss@694e1548]">testMethod</td> 
  <td>main@438135304</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 12:21:04</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sss.testMethod(java.lang.String)[pri:0, instance:pages.sss@694e1548]">testMethod</td> 
  <td>main@438135304</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 12:21:04</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sss.testMethod(java.lang.String)[pri:0, instance:pages.sss@646d64ab]">testMethod</td> 
  <td>main@438135304</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/30 12:21:04</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sss.testMethod(java.lang.String)[pri:0, instance:pages.sss@646d64ab]">testMethod</td> 
  <td>main@438135304</td>   <td></td> </tr>
</table>
