<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df90b0">  <td>21/02/10 17:44:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;WDManagerDemo.setUp()[pri:0, instance:planttests.WDManagerDemo@4d41cee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@495792375</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>21/02/10 17:44:33</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WDManagerDemo.test()[pri:0, instance:planttests.WDManagerDemo@4d41cee]">test</td> 
  <td>main@495792375</td>   <td></td> </tr>
</table>
